node-red/object_detection_flow.txt
[{"id":"d7258a9f.bfb53","type":"http request","z":"2a5f2647.11568a","name":"get_camera_frame","method":"GET","ret":"obj","url":"http://192.168.1.166:5100/camera_still/as_64string/0","tls":"","x":300,"y":440,"wires":[["bae758e1.f5af08","48663611.63f97","772f8d89.134cfc"]]},{"id":"bae758e1.f5af08","type":"debug","z":"2a5f2647.11568a","name":"camera_image","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":300,"y":480,"wires":[]},{"id":"42cc4ef9.41961","type":"inject","z":"2a5f2647.11568a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":440,"wires":[["d7258a9f.bfb53"]]},{"id":"5066419d.7f5d2","type":"http request","z":"2a5f2647.11568a","name":"object_detection","method":"POST","ret":"obj","url":"http://192.168.1.166:5200/object_detector/image","tls":"","x":790,"y":440,"wires":[["6259b87a.7e43f","772f8d89.134cfc"]]},{"id":"6259b87a.7e43f","type":"debug","z":"2a5f2647.11568a","name":"detected_objects","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":480,"wires":[]},{"id":"48663611.63f97","type":"function","z":"2a5f2647.11568a","name":"add_request_headers","func":"msg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":440,"wires":[["5066419d.7f5d2","a8f5dfe5.4c19f8"]]},{"id":"a8f5dfe5.4c19f8","type":"debug","z":"2a5f2647.11568a","name":"request_headers","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":480,"wires":[]},{"id":"54a38746.427618","type":"function","z":"2a5f2647.11568a","name":"encode_to_64","func":"msg.payload = {image:encodeURI(Buffer.from(msg.payload).toString('base64'))};\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":580,"wires":[[]]},{"id":"38cf2d1.21c0352","type":"debug","z":"2a5f2647.11568a","name":"merged_image_and_boxes","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1060,"y":480,"wires":[]},{"id":"772f8d89.134cfc","type":"join","z":"2a5f2647.11568a","name":"merge_image_and_boxes","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1120,"y":380,"wires":[["38cf2d1.21c0352","ad524ecc.11fab8"]]},{"id":"ad524ecc.11fab8","type":"function","z":"2a5f2647.11568a","name":"prepare_image_and_boxes","func":"msg.payload[\"boxes\"] = JSON.stringify({boxes:msg.payload[\"boxes\"]});\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":440,"wires":[["7abaf4ac.da5f4c","bdf512f7.51acc"]]},{"id":"7abaf4ac.da5f4c","type":"http request","z":"2a5f2647.11568a","name":"draw_bounding_boxes","method":"POST","ret":"obj","url":"http://192.168.1.134:5300/utils/draw_bounding_box","tls":"","x":1640,"y":440,"wires":[["76a0d6be.701b2"]]},{"id":"76a0d6be.701b2","type":"debug","z":"2a5f2647.11568a","name":"drawn_bounding_boxes","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1650,"y":480,"wires":[]},{"id":"bdf512f7.51acc","type":"debug","z":"2a5f2647.11568a","name":"prepared_boxes_and_image","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1360,"y":480,"wires":[]}]
