node-red/object_detection_flow.txt
[{"id":"d7258a9f.bfb53","type":"http request","z":"2a5f2647.11568a","name":"get_camera_frame","method":"GET","ret":"obj","url":"http://localhost:5100/camera_still/as_64string/0","tls":"","x":300,"y":440,"wires":[["bae758e1.f5af08","48663611.63f97","772f8d89.134cfc"]]},{"id":"bae758e1.f5af08","type":"debug","z":"2a5f2647.11568a","name":"camera_image","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":300,"y":480,"wires":[]},{"id":"42cc4ef9.41961","type":"inject","z":"2a5f2647.11568a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":440,"wires":[["d7258a9f.bfb53"]]},{"id":"5066419d.7f5d2","type":"http request","z":"2a5f2647.11568a","name":"object_detection","method":"POST","ret":"obj","url":"http://localhost:5200/object_detector/image","tls":"","x":790,"y":440,"wires":[["6259b87a.7e43f","772f8d89.134cfc"]]},{"id":"6259b87a.7e43f","type":"debug","z":"2a5f2647.11568a","name":"detected_objects","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":480,"wires":[]},{"id":"48663611.63f97","type":"function","z":"2a5f2647.11568a","name":"add_request_headers","func":"msg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":440,"wires":[["5066419d.7f5d2","a8f5dfe5.4c19f8"]]},{"id":"a8f5dfe5.4c19f8","type":"debug","z":"2a5f2647.11568a","name":"request_headers","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":480,"wires":[]},{"id":"54a38746.427618","type":"function","z":"2a5f2647.11568a","name":"encode_to_64","func":"msg.payload = {image:encodeURI(Buffer.from(msg.payload).toString('base64'))};\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":580,"wires":[[]]},{"id":"38cf2d1.21c0352","type":"debug","z":"2a5f2647.11568a","name":"merged_image_and_boxes","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1060,"y":480,"wires":[]},{"id":"772f8d89.134cfc","type":"join","z":"2a5f2647.11568a","name":"merge_image_and_boxes","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1120,"y":380,"wires":[["38cf2d1.21c0352","ad524ecc.11fab8"]]},{"id":"ad524ecc.11fab8","type":"function","z":"2a5f2647.11568a","name":"prepare_image_and_boxes","func":"msg.payload[\"boxes\"] = JSON.stringify({boxes:msg.payload[\"boxes\"]});\n\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":440,"wires":[["7abaf4ac.da5f4c","bdf512f7.51acc","4a907683.bf72e8"]]},{"id":"7abaf4ac.da5f4c","type":"http request","z":"2a5f2647.11568a","name":"draw_bounding_boxes","method":"POST","ret":"obj","url":"http://localhost:5300/utils/draw_bounding_box","tls":"","x":1640,"y":440,"wires":[["76a0d6be.701b2","f74c6548.66a1a"]]},{"id":"76a0d6be.701b2","type":"debug","z":"2a5f2647.11568a","name":"drawn_bounding_boxes","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1650,"y":480,"wires":[]},{"id":"bdf512f7.51acc","type":"debug","z":"2a5f2647.11568a","name":"prepared_boxes_and_image","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1360,"y":480,"wires":[]},{"id":"f74c6548.66a1a","type":"ui_template","z":"2a5f2647.11568a","group":"9d56db55.0e2e18","name":"Object Detection","order":0,"width":"16","height":"16","format":"<div>\n    <p>Object Detection</p>\n    <img src=\"data:image/jpg;base64, {{msg.payload.image}}\" alt=\"Object Detection Image\" />\n</div> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1630.75,"y":561.4500122070312,"wires":[[]]},{"id":"fa2a1ca0.9e1108","type":"http request","z":"2a5f2647.11568a","name":"update_camera_frame","method":"GET","ret":"txt","url":"http://192.168.1.166:5100/camera_update_still/0","tls":"","x":320.75,"y":314.75,"wires":[["d7258a9f.bfb53"]]},{"id":"b534d4cb.ffb228","type":"inject","z":"2a5f2647.11568a","name":"update_camera","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"onceDelay":"1","x":119.75,"y":314.6333312988281,"wires":[["fa2a1ca0.9e1108"]]},{"id":"4a907683.bf72e8","type":"http request","z":"2a5f2647.11568a","name":"extract_sub_images","method":"POST","ret":"obj","url":"http://localhost:5310/utils/extract_sub_images","tls":"","x":1218.75,"y":606.75,"wires":[["7c601da1.3a5074","c8ed5cc8.42497"]]},{"id":"7c601da1.3a5074","type":"debug","z":"2a5f2647.11568a","name":"sub_images","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1186.75,"y":653.0166625976562,"wires":[]},{"id":"c8ed5cc8.42497","type":"function","z":"2a5f2647.11568a","name":"select an example sub image","func":"if(msg.payload[\"sub_images\"].hasOwnProperty('person')){\n    msg.payload[\"image\"] = msg.payload[\"sub_images\"][\"person\"][0]\n    return msg;\n}","outputs":1,"noerr":0,"x":1495.75,"y":606.9000244140625,"wires":[["296da127.95f2b6"]]},{"id":"296da127.95f2b6","type":"ui_template","z":"2a5f2647.11568a","group":"9d56db55.0e2e18","name":"Sub Image Example","order":0,"width":"16","height":"16","format":"<div>\n    <p>Sub Image Sample</p>\n    <img src=\"data:image/jpg;base64, {{msg.payload.image}}\" alt=\"Example Sub Image\" />\n</div> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1634.75,"y":646.75,"wires":[[]]},{"id":"9d56db55.0e2e18","type":"ui_group","z":"","name":"Camera Feeds","tab":"3c5c66fa.aebd92","order":1,"disp":true,"width":"16","collapse":false},{"id":"3c5c66fa.aebd92","type":"ui_tab","z":"","name":"wearable_1","icon":"dashboard","order":1}]